@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "attendence";
}

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<h2>attendence</h2>
<head>
    <title> </title>
    
</head>
<script type="text/javascript">
    $(document).ready(function () {

        document.getElementById("txtdatepicker").min = new Date();
        
        //jQuery(function ($) {
        //    $("#txtdatepicker").datepicker({
        //        viewMode: 'years'
        //    });
        //});



        $('#select_all').on('click', function () {
            if (this.checked) {
                $('.checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

        $('.checkbox').on('click', function () {
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $('#select_all').prop('checked', true);
            } else {
                $('#select_all').prop('checked', false);
            }
        });
    });
</script>
<form class="form-horizontal" role="form" action="/Admin/putAttendence" method="post">
    <div class="container" style="width:800px">
        <table>
            <tr>
                <td>
                    Date<input type="date" id="txtdatepicker" name="date" style="width:150px" />
                </td>
                <td>
                    <input type="checkbox" id="select_all" style="margin-left:15px"  /> Select all
                </td>
            </tr>
        </table><br />




        <table  class="table table-striped table-bordered table-condensed">
            @{
                int size = 0;


                foreach (var s in ViewBag.Subjects)
                {

                    size = size + 1;
                }
                <thread>
                    <tr @*style="border:solid;color:blue;border:2px"*@>
                        <th @*style="font-size:x-large;background-color:yellow;border:solid;color:black"*@>Subject</th>
                        <th @*style="font-size:x-large;background-color:yellow;border:solid;color:black"*@>Level</th>
                        <th @*style="font-size:x-large;background-color:yellow;border:solid;color:black"*@>Today</th>
                        @foreach (var ob in ViewBag.oldAttendence)
                        {
                            if (ob.SubjectTeacherSectionID.ToString() == @ViewBag.SecId[0])
                            {
                                TempData["secId"] = @ViewBag.SecId;
                                String[] x = (ob.LectureDateTime.ToString()).Split(' ');

                                <th><a href="/Admin/editAttendence?d=@ob.LectureDateTime" @*style="color:red;background-color:yellow;border:solid;color:black;font-size:x-large"*@>@x[0]</a>  </th>
                            }
                        }
                    </tr>
                </thread>
                for (int i = 0; i < size; i++)
                {
                    <tr @*style="border:solid;color:blue"*@>

                        <td @*style="font-size:x-large;border:solid;color:black"*@>   @ViewBag.Subjects[i] </td>
                        <td @*style="font-size:x-large;border:solid;color:black"*@>   @ViewBag.Level[i] </td>

                        <td @*style="border: solid; color: black"*@>  <input type="checkbox" class="checkbox" value=@ViewBag.SecId[i] name="check" />  </td>

                        @foreach (var ob in ViewBag.oldAttendence)
                        {
                            if (ob.SubjectTeacherSectionID.ToString() == @ViewBag.SecId[i])
                            {
                                <td @*style="font-size:x-large;border:solid;color:black"*@>  @ob.Attendance </td>
                            }
                        }


                    </tr>

                }


            }

        </table>

        <input type="submit" value="submit" />
    </div>

</form>

